.item-counter {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.item-counter button {
  margin-right: 10px;
  width: auto;
  padding: 10px 13px;
}

.item-counter span {
  margin: 0 10px;
}

.toast-success {
  background-color: #4caf50;
  color: #fff;
}
