.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  padding: 8px 16px;
  }
  
  .navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #333;
  }
  
  .navbar-toggler {
  border: none;
  }
  
  .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }
  
  .navbar-nav {
  display: flex;
  align-items: center;
  }
  
  .nav-link {
  color: #333;
  font-size: 1.2rem;
  margin-right: 24px;
  }
  
  .nav-link:hover {
  color: #007bff;
  }
  
  .dropdown-menu {
  background-color: #f8f9fa;
  border: none;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  }
  
  .dropdown-item {
  color: #333;
  font-size: 1.2rem;
  }
  
  .dropdown-item:hover {
  background-color: #e9ecef;
  }
  
  .cart-widget {
  margin-right: 24px;
  }
  
  .boton-dark-mode {
  border: none;
  background-color: transparent;
  cursor: pointer;
  }
  
  .boton-dark-mode:hover {
  text-decoration: underline;
  }
  
  .boton-dark-mode:focus {
  outline: none;
  }
  
  .boton-dark-mode img {
  max-height: 24px;
  }