.cardProducto {
  width: 18rem;
  margin: 4px;
  background-color: hsl(0, 0%, 97%);
  border-radius: 8px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  }
  
  .cardBody {
  padding: 16px;
  text-align: center;
  }
  
  .cardProductos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  }
  
  .img {
  margin-top: 8px;
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  }
  
  .itemDetail {
  max-width: 540px;
  margin: 20px auto;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  }
  
  .itemDetailBodyDark {
  background-color: hsl(0, 0%, 33%);
  color: white;
  }
  
  .darkMode {
  background-color: black;
  color: gainsboro;
  }